/* ==========================================================================
   Wordpress Login Screen
   ========================================================================== */

/* MetaPlus Bold */
@font-face {
    font-family: 'MetaPlusBold';
    src: url('../fonts/metaplus/metaplus-bold-webfont.eot');
    src: url('../fonts/metaplus/metaplus-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/metaplus/metaplus-bold-webfont.woff') format('woff'),
         url('../fonts/metaplus/metaplus-bold-webfont.ttf') format('truetype'),
         url('../fonts/metaplus/metaplus-bold-webfont.svg#metaplusbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* MetaPlus Black */
@font-face {
    font-family: 'MetaPlusBlack';
    src: url('../fonts/metaplus/metaplus-black-webfont.eot');
    src: url('../fonts/metaplus/metaplus-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/metaplus/metaplus-black-webfont.woff') format('woff'),
         url('../fonts/metaplus/metaplus-black-webfont.ttf') format('truetype'),
         url('../fonts/metaplus/metaplus-black-webfont.svg#metaplusblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
body.login {
	background-color:#FFF;
	color:#525252;
	font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight:400;
}
a {color:#614C3E; text-decoration:none; }
a:active, a:hover {color:#000; text-decoration:none; }
a:focus {color:#614C3E; text-decoration:none; }
a:active, a:focus {outline:none; text-decoration:none; }

/* Base */
#login {padding:8% 15px 0; }

/* Logo */
.login h1 {text-align:left; }
.login h1 a {
  margin:0;
	height:auto;
	width:100%;
	background-image:none;
	color:#614C3E;
	font-size:50px;
	font-weight:400;
  font-family:"MetaPlusBlack", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-indent:0;
	text-transform:uppercase;
}
.login h1 a:hover,
.login h1 a:focus {color:#000000; }

/* Errors */ 
.login div.error, .login #login_error, .login .message {
	border:none;
	margin:0 0 20px 0;
	background-color:#C60F13;
	color:#FFF;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.login div.updated, .login .message {
  background-color:#e6a755;
  color:#FFF;
  border:none;
}

/* Form */
.login form {
  margin-top:10px;
	box-shadow:none;
	padding:0 0 15px;
	font-weight:300;
}
.login #loginform label {font-size:14px; font-weight:400; color:#555555; }
.login #loginform .input,
.login input[type="text"] {
	height:30px;
	margin:5px 0 15px 0;
  padding:3px 5px;
	background:#ededee;
	border:none;
	border-radius:0;
	box-shadow:none;
	font-size:13px;
	font-weight:300;
}
.login form .input, .login form input[type="checkbox"], .login input[type="text"] {background:#FFF; }
input[type="checkbox"], input[type="radio"] {
    height:16px;
    width:16px;
}
.login #loginform .forgetmenot label {font-size:13px; line-height:1; }

/* Button */
.login #loginform .forgetmenot, .login #loginform .submit {height:30px;}
.login.wp-core-ui .button.button-large, .login.wp-core-ui .button-group.button-large .button,
.login input.button-primary, .login button.button-primary, .login a.button-primary {
	display:inline-block;
	float:right;
	height:30px;
  line-height:30px;
  margin:0;
  padding:0 10px;
	border:none;
	background:#614C3E;
  color:#FFF;
  font-size:13px;
  font-family:"MetaPlusBold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight:400;
  text-shadow:none;
  text-decoration:none;
  text-transform:uppercase;
	-webkit-appearance:none;
  -webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
  box-shadow:none;
  cursor:pointer;
}
.login.wp-core-ui .button.hover, 
.login.wp-core-ui .button:hover,  
.login.wp-core-ui .button.focus, 
.login.wp-core-ui .button:focus,
.login.wp-core-ui .button.active, 
.login.wp-core-ui .button.active:hover, 
.login.wp-core-ui .button.active:focus, 
.login.wp-core-ui .button:active,
.login.wp-core-ui .button-primary.hover, 
.login.wp-core-ui .button-primary:hover, 
.login.wp-core-ui .button-primary.focus, 
.login.wp-core-ui .button-primary:focus,
.login.wp-core-ui .button-primary.active, 
.login.wp-core-ui .button-primary.active:hover, 
.login.wp-core-ui .button-primary.active:focus, 
.login.wp-core-ui .button-primary:active,
.login.wp-core-ui .button-secondary:hover,
.login.wp-core-ui .button-secondary:focus,
.login.wp-core-ui .button-secondary:active {
	background:#000;
	color:#FFF;
	box-shadow:none;
	text-shadow:none;
}

.login #login #nav, .login #login #backtoblog {
	display:inline;
	width:50%;
	margin:0;
	padding:0;
	font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size:11px;
	text-shadow:none;
}
.login #login #backtoblog {display:none; }
.login #login #backtoblog a {float:right; text-align:right; }
.login #login #nav a, .login #login p#backtoblog a {color:#614C3E; }
.login #login #nav a:hover, .login #login p#backtoblog a:hover {color:#000; }

.login .captchaSizeDivSmall {float:left;}
.login .si-captcha, #si_refresh_reg {float:left; margin:0 10px 10px 0;}

/* Interim */
.interim-login #login {margin:0 auto; }

/* Mobile */
.mobile #login {width:300px; padding:20px 0 0; }
.mobile #login h1 a {font-size:36px; }
.mobile #login .message, .mobile #login form, .mobile #login_error {margin-left:0; }
.mobile #login #backtoblog, .mobile #login #nav {margin-left:0; }


/* ==========================================================================
   Wordpress Dashboard Screen
   ========================================================================== */

html.wp-toolbar {background-color:#FFF; }
#wpadminbar {background-color:#614C3E; }
#wpadminbar #wp-admin-bar-site-name > .ab-item {
  font:400 15px/34px "MetaPlusBlack", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",sans-serif;
	letter-spacing:1px;
	text-transform:uppercase;
}